/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.swiper-container  {
	z-index: -1 !important;

  	&[data-swiper-centered="true"] {
		text-align: center;
	}

	&[data-block-selected="true"] {
		z-index: 1 !important;
	}
}

.editor-url-input__suggestions {
	&.tyme-suggestions {
		.editor-url-input__suggestion {
			font-size: 15px;
		}
	}
}
